@import "toastify-js/src/toastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  iframe {
    @apply w-full md:w-80;
    @apply md:h-44;
    @apply rounded-xl;
  }
}

.field_with_errors {
  flex-grow: 1;
}

.toastify {
  position: absolute;
  right: 0px;
}
